{% extends 'base/base_1.html' %}

{% block main_content %}
    <div class="site-content bg-punch-light overflow-hidden" id="content" style="overflow: scroll; white-space: nowrap;">
        <div class="container">
            <header class="entry-header space-top-2 space-bottom-1 mb-2">
                <div class="d-md-flex justify-content-between align-items-center py-4">
                    <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">대출 이력: 총 {{ all_loan_length }} 권</h1>
                    <h1 class="woocommerce-breadcrumb font-size-2">미반납 : 총 {{ loaned_info | length }} 권</h1>
                </div>
            </header>

            <div class="row pb-8">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main ">
                        <div class="page type-page status-publish hentry">
                            <!-- .entry-header -->
                            <div class="entry-content">
                                <div class="woocommerce">
                                    
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" style="width: 150%">
                                        <thead>
                                            <tr>
                                                <th class="Book-img"></th>
                                                <th  class="text-center Book-ISBN">ISBN 및 책 제목</th>
                                                <th class="text-center Book-loan-at">대출일</th>
                                                <th class="text-center Book-return-at">반납일/예정일</th>
                                                <th class="text-center Book-return">반납</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for loan_book in loaned_info %}

                                            <tr>
                                                <td class="Book-img">
                                                    <div class="text-center">
                                                        <img src={{ loan_book.img_URL }} alt="" width: 170px height=250px>
                                                    </div>
                                                </td>

                                                <td  class="Book-ISBN" data-title="ISBN">
                                                    <div class="ml-3 m-w-200-lg-down">
                                                        <p>{{ loan_book.isbn }}</p>
                                                        <a href="/books/{{loan_book.isbn}}">{{ loan_book.title }}</a>
                                                    </div>
                                                </td>

                                                <td  class="Book-loan-at" data-title="Loan-date" style="width: 17%">
                                                    <div class="text-center">
                                                        <div class="ml-3 m-w-200-lg-down">
                                                            {{ loan_book.loan_at[:10] }}
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="Book-return-at" data-title="Return-date" style="width: 17%">
                                                    <div class="text-center">
                                                        <div class="ml-3 m-w-200-lg-down">
                                                            <p style="opacity: 0.4" >{{ loan_book.due[:10] }}</p>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="Book-return" style="width: 15%">
                                                    <div class="mb-2">
                                                        <button class="btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium" onclick="location.href='/books/{{ loan_book.isbn }}/return'">반납</button>
                                                    </div>
                                                </td>
                                            </tr>

                                            {% endfor %}

                                            {% for loan_book in returned_info %}

                                            <tr>
                                                <td class="Book-img">
                                                    <div class="text-center">
                                                        <img src={{ loan_book.img_URL }} alt="" width=170px height=250px>
                                                    </div>
                                                </td>

                                                <td  class="Book-ISBN" data-title="Product">
                                                    <div class="ml-3 m-w-200-lg-down">
                                                        <p>{{ loan_book.isbn }}</p>
                                                        <a href="/books/{{loan_book.isbn}}">{{ loan_book.title }}</a>
                                                    </div>
                                                </td>

                                                <td  class="Book-loan-at" data-title="Title" style="width: 15%">
                                                    <div class="text-center">
                                                        <div class="ml-3 m-w-200-lg-down">
                                                            {{ loan_book.loan_at[:10] }}
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="Book-return-at" data-title="Price" style="width: 15%">
                                                    <div class="text-center">
                                                        <div class="ml-3 m-w-200-lg-down">
                                                            {{ loan_book.return_at[:10] }}
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="Book-return" style="width: 15%">
                                                    <div class="mb-2">
                                                        <button disabled class="btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium">반납</button>
                                                    </div>
                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <!-- ====== END MAIN CONTENT ====== -->

{% endblock main_content %}