<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sample Register Form</title>
    </head>
    <body>
        <form method="post">
            email: <input type="email" name="user_id" value="{{ user_id }}"/> <br>
            password: <input type="password" name="password" value="{{ password }}"/> <br>
            name: <input type="text" name="name" value="{{ name }}"/> <br>
            age: <input type="number" name="age" value="{{ age }}" min="1" max="200" /> <br>
            city: <input type="string" name="city" value="{{ city }}"/> <br>
            state: <input type="string" name="state" value="{{ state }}"/> <br>
            country: <input type="string" name="country" value="{{ country }}"/> <br>
            <input type="submit">
        </form>
    </body>
</html>
