{% extends 'base/base_1.html' %}

{% block main_content %}
<section class="space-bottom-3">
    <div class="bg-gray-200 space-2 space-lg-0 bg-img-hero" style="background-image: url(static/assets/img/1920x588/img1.jpg);">
        <div class="container">
            <div class="js-slick-carousel u-slick"
                data-pagi-classes="text-center u-slick__pagination position-absolute right-0 left-0 mb-n8 mb-lg-4 bottom-0">
                <div class="js-slide">
                    <div class="hero row min-height-588 align-items-center">
                        <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                            <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="200">Boostcamp AI Tech</p>
                                <h2 class="hero__title font-size-14 mb-4"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Hi-rec Corporation</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">Library</span>
                                </h2>
                                <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn"
                                data-scs-animation-in="fadeInLeft"
                                data-scs-animation-delay="400">See More</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-wd-6"
                        data-scs-animation-in="fadeInRight"
                        data-scs-animation-delay="500">
                            <img class="img-fluid" src="{{ url_for('static', path='/assets/img/logo_transparent.png') }}" alt="image-description">
                        </div>
                    </div>
                </div>

                <div class="js-slide">
                    <div class="hero row min-height-588 align-items-center">
                        <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                            <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="200">Boostcamp AI Tech</p>
                                <h2 class="hero__title font-size-14 mb-4"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Recommendation System</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">Library</span>
                                </h2>
                                <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn"
                                data-scs-animation-in="fadeInLeft"
                                data-scs-animation-delay="400">See More</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-wd-6"
                        data-scs-animation-in="fadeInRight"
                        data-scs-animation-delay="500">
                            <img class="img-fluid" src="{{ url_for('static', path='/assets/img/mark.png') }}" alt="image-description">
                        </div>
                    </div>
                </div>

                <div class="js-slide">
                    <div class="hero row min-height-588 align-items-center">
                        <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                            <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="200">Boostcamp AI Tech</p>
                                <h2 class="hero__title font-size-14 mb-4"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Hi-rec Corporation</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">Library</span>
                                </h2>
                                <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn"
                                data-scs-animation-in="fadeInLeft"
                                data-scs-animation-delay="400">See More</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-wd-6"
                        data-scs-animation-in="fadeInRight"
                        data-scs-animation-delay="500">
                            <img class="img-fluid" src="{{ url_for('static', path='/assets/img/logo_transparent.png') }}" alt="image-description">
                        </div>
                    </div>
                </div>

                <div class="js-slide">
                    <div class="hero row min-height-588 align-items-center">
                        <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                            <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="200">Boostcamp AI Tech</p>
                                <h2 class="hero__title font-size-14 mb-4"
                                data-scs-animation-in="fadeInUp"
                                data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Recommendation System</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">Library</span>
                                </h2>
                                <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn"
                                data-scs-animation-in="fadeInLeft"
                                data-scs-animation-delay="400">See More</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-wd-6"
                        data-scs-animation-in="fadeInRight"
                        data-scs-animation-delay="500">
                            <img class="img-fluid" src="{{ url_for('static', path='/assets/img/mark.png') }}" alt="image-description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if login_required == True %}
{% else %}
    {% if rec_books|length == 0 %}
        <section class="space-bottom-3">
            <div class="container">
                <header class="mb-5 d-md-flex justify-content-center align-items-center">
                    <h2 class="font-size-7 mb-3 mb-md-0"><a href="/books">더 많은 책을 읽어 책 추천을 받아보세요!</a></h2>
                </header>
            </div>
        </section>
    {% else %}
        <section class="space-bottom-3">
            <div class="container">
                <header class="mb-5 d-md-flex justify-content-between align-items-center">
                    <h2 class="font-size-7 mb-3 mb-md-0">Recommended Books</h2>
                    <a href="/books" class="h-primary d-block">View All <i class="glyph-icon flaticon-next"></i></a>
                </header>
        
                <div class="js-slick-carousel products no-gutters border-top border-left border-right"
                    data-pagi-classes="d-xl-none text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0"
                    data-arrows-classes="d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y"
                    data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10"
                    data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10"
                    data-slides-show="5"
                    data-responsive='[{
                    "breakpoint": 1500,
                    "settings": {
                        "slidesToShow": 4
                    }
                    },{
                    "breakpoint": 1199,
                    "settings": {
                        "slidesToShow": 3
                    }
                    },{
                    "breakpoint": 992,
                    "settings": {
                        "slidesToShow": 2
                    }
                    }, {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 1
                    }
                    }, {
                    "breakpoint": 554,
                    "settings": {
                        "slidesToShow": 1
                    }
                    }]'>
                    {% for item in rec_books %}
                        <div class="product">
                            <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                    <div class="woocommerce-loop-product__thumbnail">
                                        <a href="/books/{{item.id}}" class="d-block"><img src="{{item.image_URL}}" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
                                    </div>
                                    <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                        <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html">{{item.title}}</a></h2>
                                        <div class="font-size-2  mb-1 text-truncate"><a href="/books/{{item.id}}" class="text-gray-700">{{item.publisher}}</a></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

    {% endif %}

{% endif %}
<section class="space-bottom-3">
    <div class="container">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0">Bestselling Books</h2>
            <a href="/books" class="h-primary d-block">View All <i class="glyph-icon flaticon-next"></i></a>
        </header>

        <div class="js-slick-carousel products no-gutters border-top border-left border-right"
            data-pagi-classes="d-xl-none text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0"
            data-arrows-classes="d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y"
            data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10"
            data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10"
            data-slides-show="5"
            data-responsive='[{
               "breakpoint": 1500,
               "settings": {
                 "slidesToShow": 4
               }
            },{
               "breakpoint": 1199,
               "settings": {
                 "slidesToShow": 3
               }
            },{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
            }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
            }, {
               "breakpoint": 554,
               "settings": {
                 "slidesToShow": 1
               }
            }]'>
            {% for item in recent_items %}
                <div class="product">
                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                        <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                            <div class="woocommerce-loop-product__thumbnail">
                                <a href="/books/{{item.id}}" class="d-block"><img src="{{item.image_URL}}" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
                            </div>
                            <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html">{{item.title}}</a></h2>
                                <div class="font-size-2  mb-1 text-truncate"><a href="/books/{{item.id}}" class="text-gray-700">{{item.publisher}}</a></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% endblock main_content %}
